<html>
 <head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>About us</title>
 </head>
 <body>
 	<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="http://127.0.0.1:8000/">Main</a>
    <a class="py-2 d-none d-md-inline-block" href="http://127.0.0.1:8000/about_game">About game</a>
    <a class="py-2 d-none d-md-inline-block" href="http://127.0.0.1:8000/download">Download</a>
  </nav>
</header>
  <h1>Our game is an interesting platformer with interesting gameplay.
  To move something combine boxes with right names.</h1>
  <p><img src="https://1.downloader.disk.yandex.ru/preview/6f926fac68d093a23e0c9c1a690bc789f51f2392eea2bebde205f504879fac71/inf/VZp4lCcrSgTE5hocT7FGTDrHgxWhH6pUo1aJ307yvNAVO-i42AfOxuP3v9egveF61RuWZC8_OfbJ3Vb_YuL53w%3D%3D?uid=737596674&filename=sait.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=737596674&tknv=v2&size=1898x942"></p>
 </body>
</html>