<html>

 <head>
<style>
*
.img{
    width: 70%;
float: left;
}

.header {
  background-color: #202020;
  color: #ffffff;
  padding: 5px;
}

</style>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>About us</title>
 </head>
 <body>
 	<div class="header">
 		<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between navbar navbar-expand-md  sticky-top">
    <a class="py-2 d-none d-md-inline-block" href="http://127.0.0.1:8000/">Updates</a>
    <a class="py-2 d-none d-md-inline-block" href="http://127.0.0.1:8000/about_game">About game</a>
    <a class="py-2 d-none d-md-inline-block" href="http://127.0.0.1:8000/download">Download</a>
    <a class="py-2 d-none d-md-inline-block" href="http://127.0.0.1:8000/sign_in"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
  <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
</svg></a>
  </nav>
</header> 
</div>
  <h1>Our game is an platformer with interesting gameplay.
  To move something combine boxes with right names.</h1>	
    <ul><ul><ul><ul><ul><ul><ul>
  <p><img src="https://1.downloader.disk.yandex.ru/preview/6f926fac68d093a23e0c9c1a690bc789f51f2392eea2bebde205f504879fac71/inf/VZp4lCcrSgTE5hocT7FGTDrHgxWhH6pUo1aJ307yvNAVO-i42AfOxuP3v9egveF61RuWZC8_OfbJ3Vb_YuL53w%3D%3D?uid=737596674&filename=sait.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=737596674&tknv=v2&size=1898x942" class="img"></p>
 </body>
</html>