<html>
  <head>
  <title>main</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
 <body>

  <header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="http://127.0.0.1:8000/">Main</a>
    <a class="py-2 d-none d-md-inline-block" href="http://127.0.0.1:8000/about_game">About game</a>
    <a class="py-2 d-none d-md-inline-block" href="http://127.0.0.1:8000/download">Download</a>
  </nav>
</header>
    </div>
  </div>	

  <h1>There you can download our game</h1>
  <meta charset="utf-8">
 </body>
</html>